html {
    box-sizing: border-box;
}

body {
    background-color: black;
    width: 100%;
}

.container {
    background-color: rgb(231, 231, 231);
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 12% 50%;
}

/* Dashboard Section */

#dashboard-section {
    background-color: rgb(103, 103, 250);
    color: white;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}

#dashboard-section h2 {
    padding: 10px 0 40px 40px;
}

.main-nav ul{
    list-style-type: none;
}

.main-nav li {
    font-size: 1.2rem;
    padding-bottom: 20px;
}

.secondary-nav {
    margin-top: 40px;
}

.secondary-nav ul{
    list-style-type: none;
}

.secondary-nav li {
    font-size: 1.2rem;
    padding-bottom: 20px;
}

/* Header Section */

#header-section {
    background-color: white;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 50% 50%;
}

input {
    width: 50%;
    height: 30px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: 20px 0 20px 40px;
    border-radius: 25px;
    background-color: rgb(231, 231, 231);
}

#header-section h3 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin: 20px 40px 20px 0;
    text-align: right;
}

#header-section p {
    margin-top: -5px;
    margin-left: 80px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#header-section h2 {
    margin-left: 80px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.header-btn-group {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-top: 28px;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    padding-left: 120px;
}

button {
    width: 75px;
    height: 30px;
    border-radius: 25px;
    margin-right: 10px;
}

/* Content Section - Project Cards */

#content-section {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 35% 35% 30%;
    grid-template-rows: 25% 25% 25%;
    row-gap: 30px;
}

#content-section h3 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin-left: 20px;
}

.project-card {
    height: 200px;
    margin-bottom: 20px;
}

.card1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: 60px 0 20px 20px;
    background-color: white;
    padding: 20px 20px 0 20px;
    border-radius: 10px;
    border-left: 5px solid orange;
    box-shadow: 4px 3px 5px grey;
}

.card2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin: 60px 0 20px 20px;
    background-color: white;
    padding: 20px 20px 0 20px;
    border-radius: 10px;
    border-left: 5px solid orange;
    box-shadow: 4px 3px 5px grey;
}

.card3 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin: 60px 0 20px 20px;
    background-color: white;
    padding: 20px 20px 0 20px;
    border-radius: 10px;
    border-left: 5px solid orange;
    box-shadow: 4px 3px 5px grey;
}

.card4 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin: 60px 0 20px 20px;
    background-color: white;
    padding: 20px 20px 0 20px;
    border-radius: 10px;
    border-left: 5px solid orange;
    box-shadow: 4px 3px 5px grey;
}

.card5 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    margin: 60px 0 20px 20px;
    background-color: white;
    padding: 20px 20px 0 20px;
    border-radius: 10px;
    border-left: 5px solid orange;
    box-shadow: 4px 3px 5px grey;
}

.card6 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    margin: 60px 0 20px 20px;
    background-color: white;
    padding: 20px 20px 0 20px;
    border-radius: 10px;
    border-left: 5px solid orange;
    box-shadow: 4px 3px 5px grey;
}

/* Content Sidebar */
.announcement-card {
    background-color: white;
    margin-left: 20px;
    padding: 20px;
    margin-right: 20px;
    border-radius: 5px;
    box-shadow: 4px 3px 5px grey;
}